<%- include("common/header",{flag:"detail",movieName:pureName}) %>
<!-- 导航结束 -->
<!-- 主内容 -->
<div class="main" id="main">
    <div class="wp">
        <div class="container">
            <div class="divider"></div>
            <div class="load-wp" id="loadWp">
                <div class="loading">
                    <span class="iconfont iconloading"></span>
                </div>
                <div class="loading-txt">加载中...</div>
            </div>
            <div class="m-detail">
                <div class="cur ellipsis">
                    当前位置 :&nbsp;&nbsp;<a href="/" target="_self">万寻电影&gt;</a>
                    <a href="/html/<%= filmType%>/index" target="_self"><%= typeName %></a>&gt;&nbsp;<%= pureName %>下载页面
                    <span class="share-wp">
                        <font class="share">分享本影片给朋友=》</font><button id="copyMDetail" class="copy">点此即可复制</button>
                    </span>
                </div>
                <div class="m-text">
                    <h1><%= fullName %></h1>
                    <div class="info">
                        <span>片名&nbsp;:</span>&nbsp;&nbsp;&nbsp;<span><%= pureName %></span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>发布时间&nbsp;:</span>&nbsp;&nbsp;&nbsp;<span id="pubDate"><%= pubDate%></span>
                    </div>
                    <div id="detailContent" class="txt">
                        <p style="margin-bottom: 5px;">
                            <%= pureName %><span>迅雷下载地址和剧情：</span>
                            <span class="share-mb copy" id="mbCopyMDetail">点此分享本影片</span>
                        </p>
                        <img id="detailImg" src="/public/<%= detailImgSrc %>" style="width:600px;max-height:800px;"
                            alt="<%= pureName %>" />
                        <br>
                        <p>
                            <span
                                class="title">◎译&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span><span><%= transName %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span><span><%= subPureName %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代</span><span><%= year %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎产&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地</span><span><%= country %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</span><span><%= types %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎语&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;言</span><span><%= language %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎字&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;幕</span><span><%= caption %></span>
                        </p>
                        <p>
                            <span class="title">◎上映日期</span><span><%= onDate %></span>
                        </p>
                        <p>
                            <span class="title">◎IMDb评分</span><span><%= imdbScore %></span>
                        </p>
                        <p>
                            <span class="title">◎IMDb链接</span><span><%= imdbLink %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎格&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;式</span><span><%= format %></span>
                        </p>
                        <p>
                            <span class="title">◎文件大小</span><span><%= fileSize %></span>
                        </p>
                        <p>
                            <span class="title">◎视频尺寸</span><span><%= videoSize %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长</span><span><%= filmLength %></span>
                        </p>
                        <p>
                            <span class="title">◎豆瓣评分</span><span><%= doubanScore %></span>
                        </p>
                        <p>
                            <span class="title">◎豆瓣链接</span><span><%= doubanLink %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;演</span><span><%= director %></span>
                        </p>
                        <p>
                            <span
                                class="title">◎编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剧</span><span><%= editor %></span>
                        </p>
                        <% if(actor && actor.length) { %>
                        <% actor.forEach(function(item,idx) { %>
                        <% if (idx === 0) {%>
                        <p>
                            <span
                                class="title">◎主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;演</span><span><%= item %></span>
                        </p>
                        <% } else { %>
                        <p>
                            <span class="title"></span><span><%= item %></span>
                        </p>
                        <% } %>
                        <% }) %>
                        <% } %>
                        <p class="margin label">
                            <span
                                class="title">◎标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签</span><span><%= label %></span>
                        </p>
                        <% if(shortIntro) { %>
                        <div class="margin">
                            <span class="title">◎简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介</span>
                        </div>
                        <% if(shortIntro.length)  {%>
                        <% shortIntro.forEach(function(item) { %>
                        <p>
                            <span class="title" style="width: 32px;"></span><span><%= item %></span>
                        </p>
                        <% }) %>
                        <% } %>
                        <% } %>
                        <% if(getAward) { %>
                        <div class="margin">
                            <span class="title">◎获&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;奖</span>
                        </div>
                        <% if(getAward.length) { %>
                        <% getAward.forEach(function(item,idx) { %>
                        <p>
                            <span class="title"></span><span><%= item %></span>
                        </p>
                        <% }) %>
                        <% } %>
                        <% } %>
                    </div>
                    <div class="bot">
                        <h3>下载地址列表:</h3>
                        <% for(let j=0;j<downUrl.length;j++) {%>
                        <a class="down ellipsis" href="<%= downUrl[j] %>"
                            target="_self"><%= downUrl[j] %>[www.wx520.net]下载</a>
                        <% } %>
                        <!-- 温馨提示 -->
                        <div class="down-tip">
                            <span>温馨提示:&nbsp;</span>使用迅雷您可以边下边播，如遇迅雷下载出错可换用<a href="/html/downThurder" target="_blank"
                                style="color: #be1204;">无限制版迅雷</a>!
                        </div>
                    </div>
                    <!-- <div class="tip">请把www.wx520.net分享给你的朋友,更多人使用,速度更快 万寻电影网www.wx520.net欢迎您每天来！</div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<%- include('common/script.ejs') %>
<script src="/public/javascripts/mDetail.js"></script>
</body>

</html>