<%- include("common/header",{flag:"index",movieName:""}) %>
<link rel="stylesheet" href="/public/stylesheets/todayMovieSources/index.css">
<!-- 主内容 -->
<div class="main" id="main">
    <div class="wp">
        <div class="container">
            <div class="title-bar">
                <h2>今日热门电影推荐</h2>
                <a href="/html/movie/more">更多...</a>
            </div>
            <div class="media-list">
                <% if(results.length) {%>
                <ul>
                    <% for(let i=0;i<results.length;i++) {%>
                    <li>
                        <a href="<%- `/html/${results[i].filmType}/${results[i].id}` %>" target="_self"
                            title="<%= results[i].pureName %>">
                            <div>
                                <img src="/public/<%= results[i].indexImgSrc %>" alt="<%= results[i].pureName %>">
                            </div>
                            <div>
                                <h3 class="ellipsis"><%- results[i].fullName %></h3>
                                <time class=<%= results[i].isNew ?'new':'' %>><%- results[i].pubDate%></time>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
                <% } else {%>
                <div class="empty">暂无电影</div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<!-- 主内容结束 -->
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<%- include('common/script.ejs') %>
<script src="/public/javascripts/todayMovieSource.js"></script>
</body>

</html>