<%- include("common/header",{flag:"index",movieName:""}) %>
<!-- 主内容 -->
<div class="main" id="main">
    <div class="wp">
        <div class="container">
            <% for(let i=0,len=results.length;i<len;i++) { %>
            <div class="movie-list">
                <div class="title-bar">
                    <h2><%- `最新${results[i][0].typeName}` %></h2>
                    <a href=<%= `/html/${results[i][0].filmType}/index` %>>更多... </a>
                </div>
                <div class="media-list">
                    <ul>
                        <% for(let j=0,len=results[i].length;j<len;j++) {%>
                        <li>
                            <a href="<%- `/html/${results[i][j].filmType}/${results[i][j].id}` %>" target="_self"
                                title="<%= results[i][j].pureName %>">
                                <div>
                                    <img class="lazyImg" src="/public/images/lazy-load.jpg" data-src="/public/<%= results[i][j].indexImgSrc %>"
                                        alt="<%= results[i][j].pureName %>">
                                </div>
                                <div>
                                    <h3 class="ellipsis"><%- results[i][j].fullName %></h3>
                                    <time
                                        class=<%= results[i][j].isNew ? 'new':'' %>><%- results[i][j].pubDate %></time>
                                </div>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!-- 主内容结束 -->
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<%- include('common/script.ejs') %>
<script src="/public/javascripts/weekMovieSource.js"></script>
</body>

</html>